**/.git
**/.gitignore
**/.vs
**/bin
**/obj
**/node_modules
**/dist
**/.env
**/Uploads
**/informationscreen.db
**/*.user
**/Thumbs.db
**/.DS_Store
**/Integration
docker-compose.yml
docker-compose.override.yml
README.md
*.md
